@import url("./main.css");

.content {
  font-size: 1.05rem;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 2rem auto;
}

.tab-button {
  background-color: transparent;
  border: 2px solid var(--light-lavender);
  color: var(--white);
  font-size: 1.05rem;
  padding: 5px 25px;
  padding-top: 7px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.tab-button:focus,
.tab-button:hover {
  background-color: var(--medium-purple);
  color: var(--white);
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.chin-signs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3.7rem;
}

.tab-btn :focus,
.tab-btn {
  cursor: pointer;
}

.rounded-circle {
  padding: 1rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
}

.chin-content h2 {
  text-align: justify;
  margin-top: 3rem;
}

.chin-content p {
  margin: 1.5rem auto;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.05rem;
  justify-content: center;
}

.zodiac-signs h2,
.zodiac-title {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--white);
}

.zodiac-signs h4 {
  margin-top: 4.5rem;
}

.zodiac-signs p {
  margin: 1.5rem auto;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.05rem;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  padding: 1.5rem;
  justify-content: center;
  text-align: justify;
}

.zodiac-signs > div,
#chinese {
  scroll-margin: 12rem;
}

@media screen and (max-width: 768px) {
  .chin-signs {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
}

/*Burmese Zodiac Signs*/
.bur-title h2 {
  margin-top: 6.5rem;
}

.bur-title p {
  margin: 1.5rem auto;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.05rem;
}

.bur-signs h4 {
  margin-left: 2.3rem;
}

.bur-signs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3.7rem;
  margin-top: 3rem;
}

.bur-signs > a > img,
.chin-signs > a > img {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
}

.bur-signs > a:hover img,
.chin-signs > a:hover img {
  background: rgba(255, 255, 255, 0.04);
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(120, 115, 245, 0.9);
}

.bur-content h4 {
  margin-top: 4.5rem;
}

.bur-content > div {
  scroll-margin: 12rem;
}

.bur-content p {
  margin: 1.5rem auto;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.05rem;
  border: 1px solid var(--white);
  border-radius: 30px;
  padding: 1.5rem;
  justify-content: center;
  text-align: justify;
}

.mahabote h2 {
  margin-top: 4.5rem;
  text-decoration: underline;
  text-decoration-color: var(--white);
  justify-content: center;
  text-align: center;
}

.mahabote p {
  margin: 1.5rem auto;
  text-align: center;
  line-height: 2rem;
  font-size: 1.05rem;
  padding: 1.5rem;
  justify-content: center;
}

.mahabote-types h4 {
  margin-top: 1.5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--white);
}

.mahabote-types p {
  margin: 1.5rem auto;
  text-align: center;
  line-height: 2rem;
  font-size: 1.05rem;
  padding: 1.5rem;
  justify-content: center;
}

.mahabote-list p {
  margin: 1.5rem auto;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.05rem;
  padding: 1.5rem;
  justify-content: center;
  border: 1px solid var(--white);
  border-radius: 30px;
  width: fit-content;
}

#burmese {
  scroll-margin: 2rem;
}

@media screen and (max-width: 768px) {
  .bur-signs {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .mahabote-list p {
    margin-left: 5%;
    margin-right: 5%;
  }
}
